.flexpadre {
display: flex;
flex-direction: column;

}

.titulo{
    color: red;
    padding: 20px 20px;
    background-color: black;
    margin: 20px 20px 20px 20px;
    text-align: center; 
}

.h2 {
    text-align: center;
}

.lista{
    font-weight: bold;
    font-style: italic;
}

.redes img {
width: 50px; 
transition: height 5s;
}

.redes img:hover {
    height: 100px;
}

.valoresfondo{
    background-image: url(../multimedia/gale2.jpg); color: antiquewhite;
}

.contenedorfotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;
    
    
    
}
.contindivfoto {
    position: relative;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .contenedorfotos {
        grid-template-columns: repeat(1, 1fr);
    }
    .titulo{
        color: black;
        padding: 20px 20px;
        background-color: red;
        margin: 20px 20px 20px 20px;
        text-align: center; 
}
}